//Skrivet av Sven Ängermark Monoclick Solutiosn 2017 sven@monoclick.se
.front-right{
    border-bottom: 1px $silver solid;
    margin-bottom: $column-gutter/4;
        p{
            margin-bottom: 0;
        }
}
.node-ing-field{
    
    blockquote{
        padding: 0;
        border: 0;  
        .image-field-caption,
        .image-field-caption p{
            
            color: darkgray;
        }
        p{
            font-size: 0.75rem !important;
        }
    }
    
}

//Mobil navigering

#mobilmeny {
    background: rgba(49, 49, 49, 0.95) none repeat;
    height: 100%;
//    opacity: 0;
    overflow-y: auto;
    position: fixed;
//    transition: all 0.2s ease-in-out 0s;
    width: 100%;
//    z-index: -1;
    top: 140px;
    z-index: 1000;
    display: none;
}


//new
#nav-toggle { 
    margin-top: 1rem;
    display: block;
}

#nav-toggle { 
    cursor: pointer; 
    padding: 10px 35px 16px 0px; 
}
#nav-toggle span, 
#nav-toggle span:before, 
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 4px;
    width: 35px;
    background: black;
    position: absolute;
    display: block;
    content: '';
}
#nav-toggle span:before {
    top: -10px; 
}
#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    transition: all 300ms ease-in-out;
}
#nav-toggle.active span {
    background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}
#nav-toggle.active span:before {
    transform: rotate(45deg);
}
#nav-toggle.active span:after {
    transform: rotate(-45deg);
}


.breadcrumb {
    .item-list{
        ul{
            margin-bottom: 0;
        }

        li{
            display: inline-block;
            margin: 0;
            padding: 0;
            font-size: 0.75rem;
            color: $primary-color;
            a{
                font-size: 0.75rem;
                padding-right: 0.2rem;
            }
        }
    }
}

address{
    margin-bottom: 0.7rem;
    font-size: 0.75rem;
    a{
        font-size: 0.75rem;
        color: $primary-color;
    }
    a:hover{
        color: $warning-color;
    }
}
.l-main, .l-triptych, .l-footer-columns {
    background: white;
}
.l-main{
    padding-top: 1rem;
    .main.columns{
        padding-right: 0;
    }
}

.l-header{
    background-color: white;
}


//Topmeny\
.top{
    margin-top: 1.5rem
}
.top-meny{
    position: relative;
    height: 2rem;
    display: block;
    margin-bottom: 1rem;
    
    .menu{
        position: absolute;
        right: 0;

    }
    li{
        display: inline-block;
        padding-left: 0.6rem;
        
        a{
            font-size: 0.8rem; 
        }
    }
}
 
//Button override
.top-search{ 
    .container-inline{
        width: 80%;
        float: right;
    }
    .postfix.button{
        margin-left: 1.5rem;
        height: 1.6rem;
        line-height: 1rem;
        width: 5rem;
        border-radius: 3px;

    }
}
 
input[type="text"]{
    height: 1.7rem;
    font-size: 0.8rem;
    padding: 3px;
}

button, .button{
    padding: 0.35rem 1.1rem; 
    font-size: 0.8rem;
}
select{
    height: 1.8rem;
    padding-bottom: 0;
    padding-top: 0;
}
.views-exposed-form .views-exposed-widget .form-submit {
//    margin-top:0;
}
//Top grejer
.header-inner{
    padding-bottom: 1rem;
    padding-top: 1rem;
}

/*===== Superfish ======*/
.l-header-region{
    background-color:$primary-color;
    border-top: $topnavigation-border 1px solid;
}
.block-superfish-1 h2{
    display: none;
}
.block-superfish-1 .sf-menu.sf-style-default{
    margin-bottom: 0;
}

.block-superfish-1 .sf-menu.sf-style-default li, 
.block-superfish-1 .sf-menu.sf-style-default.sf-navbar{
    background: none;
}
.block-superfish-1 ul.menu li:hover a{
    background-color: $oil;
    color: #fff;
}
.block-superfish-1 ul.menu ul li a:hover{
//    background-color: $oil;
//    color: #000;
}
.block-superfish-1 ul.menu li.active-trail{
    background-color: $oil;

}
.block-superfish-1 ul.menu li.active-trail a{
//    color: $warning-color; 
}
.block-superfish-1 ul.menu li{
    border-left: $topnavigation-border 1px solid;
}
.block-superfish-1 ul.menu li a{
    color: white;
    text-transform: uppercase;
    font-size: 13px;
//    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

/*level 2*/
.sf-menu.sf-horizontal.sf-shadow ul, 
.sf-menu.sf-vertical.sf-shadow ul,
.sf-menu.sf-navbar.sf-shadow ul ul {
    background: $oil; 
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
    padding: 0 8px 9px 0 !important;
    box-shadow: 0 10px 10px #bebebe;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
    left: 0;
    top: 1.9rem;
}

.block-superfish-1 ul.menu li.sf-depth-1 .sf-sub-indicator{
    display: none;
}

.block-superfish-1 ul.menu li ul li.sf-depth-2{
    margin-top: 17px;
    border-left: inherit;
    .sf-sub-indicator{
        display: block;
    }
}
.block-superfish-1 ul.menu li ul li.sf-depth-2.last{
    margin-bottom: 17px;
}
.block-superfish-1 ul.menu li ul li.sf-depth-2 a{
    color: #fff;
    line-height: 16px;
    text-transform: inherit;
}
.block-superfish-1 ul.menu li ul li.sf-depth-2 a.active,
.block-superfish-1 ul.menu li ul li.sf-depth-2 a:hover{
    color: $warning-color;
}

.block-superfish-1 .sf-menu.sf-style-default a, 
.block-superfish-1 .sf-menu.sf-style-default a:visited, 
.block-superfish-1 .sf-menu.sf-style-default span.nolink {
    border-left: none;
    border-top: none;
}


//Sidomenyer
aside .block-title{
    border-bottom: 1px solid $steel;
    font-family: $font-family-sans-serif;
    font-size: 0.8rem;
    color: $steel;
    font-weight: 700;
}

aside .menu{
    margin-left: 0.75rem;
}
aside .menu li{
    list-style-type: none;
    list-style-image: url("../images/arrow-head.png");
    
}
aside .menu li a{
    line-height: 1.6rem;
    color: $charcoal;
}
aside .menu li a.active-trail{
    color: $warning-color;
}
aside .menu li a:hover{
    color: $warning-color;
}

//Mobilmeny\
#mobilmeny .menu{

}
#mobilmeny ul.menu{
    margin: 1rem
}

$mobilmeny-line-height-1: 1.3rem;
$mobilmeny-line-height-2: 0.8rem;

$mobilmeny-li-margin-V-1: 1.1rem;
$mobilmeny-li-margin-V-2: 0.6rem;


#mobilmeny .menu li{
    list-style-type: none;
//    display: block;
    width: 100%;
    border-bottom: dotted $base 1px;
    padding-top: $mobilmeny-li-margin-V-1;
    padding-bottom: $mobilmeny-li-margin-V-1;
}
#mobilmeny .menu li li{
    border-bottom: none;
    padding-top: $mobilmeny-li-margin-V-2;
    padding-bottom: $mobilmeny-li-margin-V-2;
}

#mobilmeny ul.menu li a{
    line-height: $mobilmeny-line-height-1;
    color: $silver;
    font-size: 1.2rem;
    text-transform: uppercase;
}
#mobilmeny .menu li a.active-trail{
    color: $warning-color;
}
#mobilmeny .menu li a:hover{
    color: $warning-color;
}
#mobilmeny .menu li ul{
//    border-bottom: 1px #fff dotted;
    margin-left: 1rem;
}

//Level2
#mobilmeny ul.menu li ul.mobilmeny-submenu li a{
    font-size: 1rem; 
    line-height: $mobilmeny-line-height-2 !important;
    text-transform: inherit;
}
#mobilmeny .menu li ul{
    margin: 1rem 1rem 0 1.3rem;  
//    margin: 1rem;
}
#mobilmeny .menu li ul li ul{
    margin: 1rem 1rem 0 1.3rem;    
}
#mobilmeny .open-sub {
    color: #ffffff;
    font-size: 1.8rem;
}
#mobilmeny span {
    cursor: pointer;
    position: absolute;
    right: 2.2rem;
    line-height: $mobilmeny-line-height-1;
}
#mobilmeny ul li ul li span{
    line-height: $mobilmeny-line-height-2;
}
h1,h2,h3,h4,h5,h6{
    text-shadow: 0 1px 1px #d9d9d9;
}

//Flexslider

.flexslider{
    background: none;
    border: 0;
    margin:0 !important;
}
.flexslider p{
    margin: 0;   
}

.flex-direction-nav a {
    overflow: visible;
    margin: -40px 0 0;
}
.flex-direction-nav a.flex-next::before {
    font-family: "foundation-icons";
    content: "\f10b";
    font-size: 50px;
}

a.flex-prev, a.flex-next{
    font-size: 1px !important;
}

.flex-direction-nav a::before {
    font-family: "foundation-icons";
    content: "\f10a" ;
    font-size: 50px;
}

.scroll-top {
    background-color: $primary-color;
    border-radius: 4px;
    bottom: 1.5rem;
    display: none;
    height: 40px;
    position: fixed;
    right: 2rem;
    text-align: center;
    width: 40px;
}

.fi-arrow-up::before {
    content: "";
}
.scroll-top i {
    color: #ffffff;
    font-size: 1.7rem;
//    margin: 0 0 2.5rem 0;
    padding: 0;
}
.home{
    float: left;
    padding-left: 0;
    padding-right: 1rem;
    cursor: pointer;
    padding-top: 0.3rem;
    
    i{
        font-size: 1.1rem;
    }
    a{
        line-height: 0;
        i{
            color: #ffffff;
            line-height: 0;

        }
    }
}

.footer-top-background{
    background: $oil;
}
.footer-bottom-background{
    background: $black;
}
.footer-top-wrapper{
    color: $gainsboro;
    a{
        color: white;
        text-decoration: underline;
    }
    a:hover{
        color: $warning-color;
    }
    padding-top: 1rem;
    
    .menu li{
        list-style: none;
        border-bottom: dotted 1px $steel;
    }
    .menu li a{
        text-decoration: none;
        line-height: 2.2rem;
        padding-left: 1rem;
        color: $gainsboro;
    }
    .menu li a:hover{
        color: $warning-color;
    }
    .menu li.last{
        border-bottom: none;
    }
}

.footer-bottom-wrapper{
    color: $base;
    p{
        font-size: 0.85rem;
    }
    
    a{
        text-decoration: underline;
        color: $gainsboro;
    }
    a:hover{
        color: $warning-color;
    }
}



.footer-bottom-wrapper a:hover{
    
}


//Specialgrejer Acid news

.extra-above-title{
    margin-top: 0.5rem;
}
.tag-metadata.wrapper{
    margin-bottom: $column-gutter/2;
}
.tag-metadata{
    margin-bottom: $column-gutter/2;
}
span.tag-metadata{
    display: inline-block;
    margin-right: 0.3rem;
    margin-bottom: 0;
    a{
        color: $white; 
        font-size: 0.75rem;
        line-height: 0.75rem;
        padding: 0.1rem 0.5rem;
        background: $warning-color;
        border-radius: 0.4rem;
    }
    a:hover{
        background: $oil;
    }
    


}


//========= Acid News och DS Teaser

//Topp blocket
.an-top-meta{
    .title{
        a{
            color: black;
            font-size: 0.8rem;
        }    
    }
    a{
        color: black;
        text-transform: uppercase;
        font-size: 0.8rem;
        img{
            margin-right: 5px;
        }
    }
}

//Högerspalt med teasers\ 

.right-spalt-teasers{
    article{
        padding: $column-gutter/2;  
        background-color: $white-smoke; 
        margin-bottom: $column-gutter/2;
    }
    article:hover{
        background-color: $smoke;   
    }
    p{
        color: $tuatara;
        margin-bottom: 0;
    }
    h4{
        font-size: 1.3rem;
        color: $primary-color;
        margin-top: 0;
    }
    .node-img-field{
       margin-bottom: $column-gutter/2; 
    }
    .above-text{
        color: $body-font-color;
        font-size: 0.8rem;
    }
} 
.readmore {
    margin-top: 0.5rem;
    span{
        padding: 0.2rem 0.5rem;
        color: $jumbo;
        background-color: $gainsboro;
        font-size: 0.75rem;
        a:hover{
            background-color: $jumbo;
        }
    }
}
.node-ing-field{
    margin-bottom: $column-gutter/2;
    margin-top: $column-gutter/2;
}

//AN notisspalt

.bottom-spalt-teasers{

    p{
        color: $tuatara;
        margin-bottom: 0;
    }
    h4{
        font-size: 1.3rem;
        color: $primary-color;
//        color: red;
        margin-top: 0;
    }
    // nytt
    .view-content{
        display: flex;
        flex-wrap: wrap;
        
    }
}
@media #{$medium-up} { 
    .bottom-spalt-teasers{
        .view-content{
            .item{
                margin-left: 0.7%;
                margin-right: 0.7%;
                width: 23.6%; 
                .inner{
                    padding: $column-gutter/2;  
                    background-color: $white-smoke; 
                    margin-bottom: $column-gutter/2;    
                }
                .inner:hover{
                    background-color: $smoke;
                }
            }
        }   
    }
}
@media #{$medium-only} { 
    .bottom-spalt-teasers{
        .view-content{
            .item{
                margin-left: 0.7%;
                margin-right: 0.7%;
                width: 48.6%; 
                
            }
        }
    }
}
@media #{$small-only} { 
    .bottom-spalt-teasers{
        .view-content{
            display: block;
            .item{
//                margin-left: 0.7%;
//                margin-right: 0.7%;
                width: 100%; 

            }
        }   
    }
}

//=============== Main spalt och DS teaser
.main-spalt-teasers{
    article{
        padding-top: $column-gutter/2;
        padding-bottom: $column-gutter/2;  
        border-top: solid 1px $smoke;
        border-bottom: solid 1px white;       
    }
    article:hover{
        background-color: $white-smoke;

    }
    .zf-1col{
        cursor: pointer;
    }
    .taxon{
        padding-left: $column-gutter/2;
        padding-right: $column-gutter/2;
    }
    .last{
        margin-bottom: $column-gutter;
    }
    a.row{
        margin: 0;    
    }
    p{
        color: $tuatara;
        margin-bottom: 0;
    }
    h3{
        font-size: 1.6rem;
        color: $primary-color;
    }
    .small-12{
        img{
            margin-bottom: 4px;
        }
    }
    .teaser-thmb-left{
        // kan ats bort sedan om man vill grå bakgrund
//        padding: 0;
    }
    .teaser-txt-left{
        // kan ats bort sedan om man vill grå bakgrund
//        padding-right: 0;
    }
    .teaser-thmb-right{
        // kan ats bort sedan om man vill grå bakgrund
//        padding: 0;
    }
    .teaser-container{
        padding-left: $column-gutter/2;
        padding-right: $column-gutter/2;
    }
    .teaser-image{
        margin-bottom: $column-gutter/2;
    }
    .node-typ, .date, .publ-above{
        font-size: 0.8rem;
        color: $body-font-color;
    }
    ul{
        margin: 0 0 $column-gutter/3 0;
        padding: 0;
        li{
            display: inline-block;
            margin-right: 0.3rem;
            a{
                font-size: 0.75rem;
                line-height: 0.75rem;
                padding: 0.1rem 0.5rem;
                border-radius: 0.4rem;
            }
        }
    }
    .item-list{
        ul{
            li{
                margin: 0;
                a{
                    background: $silver;
                    color: $body-font-color;
                }
            }
        }
    }
    .body{
        margin-bottom: $column-gutter/2;
    }
    .tags{
        margin-bottom: $column-gutter/2;
        ul{
            li{
                a{
                    background: $warning-color;
                    color: $white; 
                }
            }
        }  
    }
    .author{
        margin-bottom: 0.3rem;
        ul{
            li{
                
                a{
                    background: $silver;  
                }
            }
        }
    }
    .download{
        margin-bottom: $column-gutter/2;
        .file{
            border: 1px $silver solid;
            border-radius: 0.7rem;
            padding: 0.1rem 0.5rem 0.3rem 0.5rem;  

        }
        .file:hover{
            background: $silver;
        }

        a{
            font-size: 0.8rem;
        }
    }
}

// =============== sociala links
.a2a_kit{
    margin-bottom: $column-gutter/2;
}

//=================== print page

.print_html, .print_mail, .print_pdf, .print_epub {
    margin-left: 0;
}

.print_html{
    a.print-page{
        padding: 0.2rem 0.5rem;
        color: $jumbo;
        background-color: $gainsboro;
        font-size: 0.75rem;
        
    }
    a:hover{
        background-color: $jumbo;
        color: $white;
    }
    
}
.block-print-ui-print-links{
    margin-bottom: $column-gutter/2;
}
.vinjett-acidnews p{
    margin-bottom: $column-gutter/4;
}

//Acid news fullnod special grejer

.open-an-main-article{
    display: none;
}
.close-an-main-article-button, .open-an-main-article-button{
    margin-top: $column-gutter/2;
    margin-bottom: $column-gutter/1.7;
    cursor: pointer;
}
.main h2.block-title{
    
    font-size: 1rem;
    font-family: $font-family-sans-serif;
    font-weight: 700;
    margin-bottom: 2px;
    margin-left: $column-gutter/2;
    margin-top: $column-gutter;
}

//Publications

.publication-main{
    article{
        padding: $column-gutter/2;
        background-color: $white-smoke; 
        margin-bottom: $column-gutter/4;
        font-size: 0.9rem;
    }
    h4{}
    
    .publ-text-author{
        font-style: oblique;
    }
   
    
}

// ============================= Full node
.bildtext{
    font-style: oblique;
    font-size: 80%;
    margin-bottom: $column-gutter/2;
}
.node-image{
    margin-bottom: $column-gutter/2;
}

.node-container{
    h1{}
    .typ{}
    .author{
        ul{
            margin-bottom: $column-gutter/2;
            margin-left: 0;
            padding: 0;
            
            li{
                display: inline-block;
                margin-right: 0.3rem;
                
                a{
                    background: $silver;
                    color: $body-font-color;
                    font-size: 0.75rem;
                    line-height: 0.75rem;
                    padding: 0.1rem 0.5rem;
                    border-radius: 0.4rem;
                }
            }
           
            
        }
    }
    .body{
        margin-bottom: $column-gutter/2;
    }
    .above{
        
    }
    .download{
        margin-bottom: $column-gutter/2;
        .file{
            border: 1px $silver solid;
            border-radius: 0.7rem;
            padding: 0.1rem 0.5rem 0.3rem 0.5rem;  
            
        }
        .file:hover{
            background: $silver;
        }
        
        a{
            font-size: 0.8rem;
        }
    }
    
}

//======================== Acid news arkivet ======================= 

.acid-news-archive{
    h3{
        border-bottom: 1px $silver solid;
        margin-right: $column-gutter/2;
        margin-bottom: $column-gutter/2;
    }
    article{
        color:$black;
        font-size: 0.85rem;
    }
    .download-link{
        margin-top: $column-gutter/4;
        margin-bottom: $column-gutter;
    }
    
    .item-list-li{
        margin:0;
        padding:0;
        li{
            @media only screen and (min-width: 64.063em){ 
                width: 18%;
            }
            @media only screen and (min-width: 40.063em) and (max-width: 64em) { 
                width: 30%;
            }
            @media only screen and (max-width: 40em) { 
                width: 100%;
            }
            list-style: none;
            padding: 0;
            margin: 0 !important;
            display: inline-block;
            vertical-align: top;
            padding-right: $column-gutter/4; 
        }

        .view-list-row{
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid;
            display: inline-block;
        }
    }
}

// ===================================== Horisontal =============================
.horisontal{
    .inner{
        padding: $column-gutter/2;
        .block-title{
            font-size: 1rem;
        }
    }
    .views-responsive-grid{
        .column{
            padding: 0;
//            min-height: 200px;
            padding-left: $column-gutter/4;
            padding-right: $column-gutter/4;
        }
        .views-column-first {
            padding-left: $column-gutter/2;
        }
        .views-column-last {
            padding-right: $column-gutter/2;
        }
        a{
            .inner-content{
                padding: $column-gutter/2;
            }
        }     
    }
}
.horisontal-first{
    .inner{
        padding-top: $column-gutter;
        background: rgba(255, 255, 255, 1);
        
    }
    
}
.horisontal-second{
     
    .inner{
        padding-top: $column-gutter;
        background: rgba(255, 255, 255, 0.7);
        img{
            border: 1px $gainsboro solid;
        }
    }
}
.horisontal-third{
    background: rgba(160, 211, 232, 0.7);
}

//misc
.field-name-print-page {
    margin-bottom: $column-gutter;
}

// popup anouncement modulen.
#popup-announcement-wrap{
    border-radius: 0;
    border-top: 6px solid $primary-color;
    #popup-announcement{
        padding: 12px;
        h1{
            font-size: 2rem;
            padding-top: 0;
            margin-top: 0;
        }
        a{
            border: 1px $primary-color solid;
            padding: 5px 10px;
            font-size: 0.85rem;
        }
        a:hover{
            background: $primary-color;
            color: white;
            
        }
    }
    #popup-announcement-close:before{
        content: "Close "
    }
    #popup-announcement-close{
        bottom: 8px;
        right: 8px;
        height: 26px;
        width: 70px;
        background-repeat: no-repeat;
        background-position: top right;
    }
}


//Popup rutan för undersökningen UTRANGERAD 21/11 -19
#popup-question-redirect{
    background: rgba(0,0,0,0.5);
}
.modal-dialog{
    width: inherit;
    max-width: 400px;
    margin-top: 50px;
    .modal-content{
    //    background: $gainsboro;
        border-radius: 0;
        .btn{
            border-radius: 0;
            margin: 10px 0;
            display: block;
        }
        .button-yes{
            background: $primary-color;
            color: $white;
            border: none;
        }
        .modal-header{
            background: $primary-color;
            padding: 3px;
            h4{
                color: $white;    
            }
        }
        .modal-footer{
            text-align: left;
        }
    }
}